/* Add your custom styles here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
}

p {
    font-size: 18px;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.tracking {
    width: 95%;
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.trackingColumn {
    flex-grow: 1;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    
}
.trackingColumn p{
    font-size: 22px;
    font-weight: bold;
}

#globalCases, #globalActive{
    color: orange;
}
#globalRecoveries{ 
    color: green;
}
#globalDeaths{
    color: red;
}
#title {
    margin: 20px 0;
    margin-left: 40px;
    padding: 20px;
}

#map {
    height: 700px;
    width: 100%;
    border: 1.5px solid #00bc9d;
    border-radius: 8px;
}

.apis a {
    color: #ccc;
}

.results {
    display: flex;
    flex-direction: row;
    
}

.result-table-section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

.state-results, .country-results {
    flex-grow: 1;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

#search-by-country-input,
#search-by-state-input {
    margin-bottom: 20px;
}